<!DOCTYPE html>
  <head>
      <title>Welcome to SJSU Information Centre</title>
      <link rel='stylesheet' href='/css/bootstrap.css'/>
      <link rel='stylesheet' href='/css/style.css'/>
      <link rel="icon" type="image/png" sizes="96x96" href="/images/sjsu-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/sjsu-32x32.png">
  </head>
  <video playsinline autoplay muted loop id="bgvid">
      <source src="/images/video.mp4" type="video/mp4">
  </video>
  <body>
    <div>
       {{{body}}}
    </div>
  </body>
</html>
