<!DOCTYPE html>
  <head>
      <title>Welcome to SJSU Information Centre</title>
      <link rel='stylesheet' href='/css/bootstrap.css'/>
      <link rel='stylesheet' href='/css/style.css'/>
      <link rel="icon" type="image/png" sizes="96x96" href="/images/sjsu-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/sjsu-32x32.png">
  </head>
  <body>
    <div class="container">
    <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <center>
          <a href="/"> <img src="/images/home.png"/></a>
        </center>
      </ul>       
    </nav>
    </div>
    </div>
    <div class="container">
      <div class="form-control" style ="background: #e6e6e7">
        <div class="col-lg-12">
          {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}
          {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}
          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}
            {{{body}}} 
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>